<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../static/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div>
        <div style="display: flex; align-items: center; justify-content: center;">
            <form class="form" method="POST">
                <input class="inpuText" type="text" name="input_name_car" placeholder="Nome do carro" required>
                <input class="inpuText" type="text" name="input_km_ltr" placeholder="KM por Litro" required>
                <input class="inpuText" type="text" name="input_dist_viagem" placeholder="Distancia percorrida" required>
                <input type="datetime" name="input_date">
                <input class="button" type="submit" value="Enviar">
            </form>
        </div>
    </div>
    {%if dict%}
    <div class="conteiner">
        <h3>{{dict}}</h3>
    </div>
    {%endif %}
</body>
</html>